<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>KHANO PHIDANE</h1>
        <div class="wrapper">
          <div class="static-txt">I'M A</div>
          <ul class="dynamic-txts">
            <li><span>DEVELOPER</span></li>
            <li><span>DESIGNER</span></li>
            <li><span>PROGRAMMER</span></li>
            <li><span>FARMER</span></li>
          </ul>
        </div>
      </div> 
</body>
</html>