<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Tools & Skills </h1>
    <div class="skills">
        <ul class="skill" >
            <li>C#
                <span class="bar">
                    <span class="C"></span>
                </span>
            </li>
            <li>JavaScript
                <span class="bar">
                    <span class="JavaScript"></span>
                </span>
            </li>
            <li>Python
                <span class="bar">
                    <span class="Python"></span>
                </span>
            </li>
            <li>C++
                <span class="bar">
                    <span class="CP"></span>
                </span>
            </li>
            <li>Java
                <span class="bar">
                    <span class="Java"></span>
                </span>
            </li>
            <li>HTML & CSS
                <span class="bar">
                    <span class="HTML"></span>
                </span>
            </li>

        </ul>
        <ul class="skill">
            <li>ASP.NET Core (MVC)
                <span class="bar">
                    <span class="ASP"></span>
                </span>
            </li>
            <li>MS SQL Server
                <span class="bar">
                    <span class="MS"></span>
                </span>
            </li>
            <li>MySQL
                <span class="bar">
                    <span class="MySQL"></span>
                </span>
            </li>
            <li>React
                <span class="bar">
                    <span class="React"></span>
                </span>
            </li>
            <li>Node.js
                <span class="bar">
                    <span class="Node"></span>
                </span>
            </li>
            <li>RESTful API
                <span class="bar">
                    <span class="API"></span>
                </span>
            </li>
        </ul>
       
    </div>
</body>
</html>